@page
@model TS.WebApp.Pages.Cars.AddModel
@{
    ViewData["Title"] = "Add";
}

<h3 class="center-align indigo-text text-darken-2">New Car</h3>

<br />

<div class="row center-align">
    <form method="post" class="col s12">
        <input hidden asp-for="CustomerId" />
        <div>
            <div class="row">
                <div class="input-field col s12 m3 l4">
                    <input id="brand" type="text" class="validate blue-text text-darken-4 center-align" asp-for="Car.Brand">
                    <label for="brand">Brand</label>
                </div>
                <div class="input-field col s12 m3 l4">
                    <input id="model" type="text" class="validate blue-text text-darken-4 center-align" asp-for="Car.Model">
                    <label for="model">Model</label>
                </div>
                <div class="input-field col s12 m3 l4">
                    <input id="year" type="number" class="validate blue-text text-darken-4 center-align" asp-for="Car.Year">
                    <label for="year">Year</label>
                </div>
            </div>
        </div>

        <div class="center-align">
            <button type="submit"
                    class="btn-floating btn waves-effect waves-light white-text blue darken-2 ">
                <i class="material-icons">save</i>
            </button>
            <a asp-page="../Customers/Index"
               class="btn-floating btn waves-effect waves-light white-text blue darken-2">
                <i class="material-icons">cancel</i>
            </a>
        </div>

    </form>
</div>

