@page
@model TS.WebApp.Pages.Cars.EditModel
@{
    ViewData["Title"] = "Edit";
}
<

    <div class="row">
        <form method="post" class="col s12">
            <input hidden asp-for="Car.Id" />
            <input hidden asp-for="Car.CustomerId" />
            <div>
                <div class="row">
                    <div class="input-field col s12 m6 l6">
                        <input id="name" type="text" class="validate" asp-for="Car.Brand">
                        <label for="name">Brand</label>
                    </div>
                    <div class="input-field col s12 m6 l6">
                        <input id="last_name" type="text" class="validate" asp-for="Car.Model">
                        <label for="last_name">Model</label>
                    </div>
                    <div class="input-field col s12 m6 l6">
                        <input id="year" asp-for="Car.Year" type="number" class="validate">
                        <label for="year">Year</label>
                    </div>
                </div>
            </div>

            <div class="center-align">
                <button type="submit" class="waves-effect waves-light btn white-text blue darken-1">
                    Save
                </button>
                <a asp-page="./Index" class="waves-effect waves-light btn white-text blue darken-1">Return</a>
            </div>

        </form>
    </div>

