@page
@model TS.WebApp.Pages.Customers.AddModel
@{
    ViewData["Title"] = "Add";
}

<h3 class="center-align indigo-text text-darken-2">New Customer</h3>

<br />

<div class="row">
    <form method="post" class="col s12">
        <div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input id="name" type="text" class="validate blue-text text-darken-4" asp-for="Customer.Name">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input id="last_name" type="text" class="validate blue-text text-darken-4" asp-for="Customer.LastName">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
        </div>

        <div>
            <!--Esta pendiente definir el maestro de tipo documneto-->
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <select asp-for="Customer.DocumentType">
                        <option value="" disabled selected>Select document</option>
                        <option value="Cedua">Cédula de ciudadanía</option>
                        <option value="CedulaExtranjeria">Cédula de extranjería</option>
                        <option value="TarjetaIdentidad">Tarjeta de identidad</option>
                    </select>
                </div>

                <div class="input-field col s12 m6 l6">
                    <input id="nit" type="number" class="validate blue-text text-darken-4" asp-for="Customer.Nit">
                    <label for="nit">Number</label>
                </div>
            </div>
        </div>

        <div>
            <!--Esta pendiente cuadrar el calendario-->
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input id="birthdate" asp-for="Customer.BirthDay" type="text" class="datepicker blue-text text-darken-4">
                    <label for="birthdate">Birth date</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <select asp-for="Customer.DocumentType">
                        <option value="" disabled selected>Select city of residence</option>
                        <option value="Bogota">Bogotá</option>
                        <option value="Barranquilla">Barranquilla</option>
                        <option value="Cali">Cali</option>
                        <option value="Cartagena">Cartagena</option>
                        <option value="Medellin">Medellín</option>
                        <option value="SantaMarta">Santa Marta</option>
                        <option value="OtraCiudad">Otra ciudad</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="center-align">
            <button type="submit" class="waves-effect waves-light btn white-text blue darken-2">
                Save
            </button>
            <a asp-page="../Index" class="waves-effect waves-light btn white-text blue darken-2">Cancel</a>
        </div>

    </form>
</div>
