@page
@model TS.WebApp.Pages.Customers.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h3 class="center-align indigo-text text-darken-2">Edit Customer</h3>

<br />

<div class="row">
    <form method="post" class="col s12">
        <input hidden asp-for="Customer.Id" />
        <div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input id="name" type="text" class="validate blue-text text-darken-4" asp-for="Customer.Name">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input id="last_name" type="text" class="validate blue-text text-darken-4" asp-for="Customer.LastName">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
        </div>

        <div>
            <!--Esta pendiente definir el maestro de tipo documneto-->
            <div class="row blue-text text-darken-4">
                <div class="input-field col s12 m6 l6">
                    <select asp-for="Customer.DocumentType">
                        <option class="blue-text text-darken-4" value="" disabled selected>Select document</option>
                        <option class="blue-text text-darken-4" value="Cédua">Cédula</option>
                        <option class="blue-text text-darken-4" value="Tarjeta de identidad">Tarjeta de identidad</option>
                        <option class="blue-text text-darken-4" value="Cédula de extrajeria">Cédula de extrajeria</option>
                    </select>
                </div>

                <div class="input-field col s12 m6 l6">
                    <input id="nit" type="text" class="validate blue-text text-darken-4" asp-for="Customer.Nit">
                    <label for="nit">Numbre</label>
                </div>
            </div>
        </div>

        <div>
            <!--Esta pendiente cuadrar el calendario-->
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input id="birthdate" asp-for="Customer.BirthDay" type="text" class="datepicker blue-text text-darken-4">
                    <label for="birthdate">Birthdate</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input id="nit" type="text" class="validate blue-text text-darken-4" asp-for="Customer.City">
                    <label for="nit">City of residence</label>
                </div>
            </div>
        </div>

        <div class="center-align">
            <button type="submit" class="waves-effect waves-light btn white-text blue darken-2">
                Save
            </button>
            <a asp-page="./Index" class="waves-effect waves-light btn white-text blue darken-2">Return</a>
        </div>

    </form>
</div>

