@page
@addTagHelper`*, Microsoft.AspNetCore.Mvc.TagHelpers
@model TS.WebApp.Pages.Insurances.AddModel
@{
    ViewData["Title"] = "Add";
}


<div class="center-align">
    <h3 class="center-align indigo-text text-darken-2">New Insurance</h3>
</div>

<div class="row center-align">
    <form method="post" class="col s12">
        <input hidden asp-for="@Model.CustomerId" />
        <input hidden asp-for="@Model.CarId" />
        <div>
            <div class="row">
                <div class="input-field col s12 m8 l12">
                    <input value="@Model.TotalAPagar.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-us"))" />
                    <input hidden asp-for="@Model.TotalAPagar"/>
                    <label for="brand">Price</label>
                </div>
            </div>
        </div>

        <div class="center-align">
            <button type="submit"
                    class="btn-floating btn waves-effect waves-light white-text blue darken-2 ">
                <i class="material-icons">save</i>
            </button>
            <a asp-page="../Cars/Index"
               class="btn-floating btn waves-effect waves-light white-text blue darken-2 ">
                <i class="material-icons">cancel</i>
                >
            </a>
        </div>
    </form>

</div>