@page
@addTagHelper`*, Microsoft.AspNetCore.Mvc.TagHelpers
@model TS.WebApp.Pages.Insurances.IndexModel
@{
}

<h3 class="center-align indigo-text text-darken-2">Insurances</h3>

<br />

<div>
    <a asp-page="../Cars/Index"
       class="btn-floating btn waves-effect waves-light white-text blue darken-2 left-align">
        <i class="material-icons">arrow_back</i>
    </a>

    <a asp-page="../Index"
       class="btn-floating btn waves-effect waves-light white-text blue darken-2 left-align">
        <i class="material-icons">done</i>
    </a>
</div>

<br />

<form method="post">
    <table class="responsive-table striped">
        <thead>


            <tr class="light white-text card-panel indigo darken-2">
                <th>Price</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.Insurances)
            {
                <tr>
                    <td>@item.Price</td>

                    <td>
                        <button type="submit"
                                asp-page-handler="delete"
                                asp-route-id="@item.Id"
                                class="btn-floating btn waves-effect waves-light white-text blue darken-2 ">
                            <i class="material-icons">delete_forever</i>
                            >
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>