@page
@addTagHelper`*, Microsoft.AspNetCore.Mvc.TagHelpers
@model TS.WebApp.Pages.Insurances.IndexModel
@{
}

<h3 class="center-align indigo-text text-darken-2">Insurances</h3>

<br />

<div class="center-align">
    <a asp-page="./Add" class="waves-effect waves-light btn white-text blue darken-2">Quote</a>
    <a asp-page="../Index" class="waves-effect waves-light btn white-text blue darken-2">Return to begin</a>
</div>

<br />

<form method="post">
    <table class="responsive-table striped">
        <thead>


            <tr class="light white-text card-panel indigo darken-2">
                <th>Price</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.Insurances)
            {
                <tr>
                    <td>@item.Price</td>

                    <td>
                        <button type="submit"
                                class="waves-effect waves-light btn white-text blue darken-2"
                                asp-page-handler="delete"
                                asp-route-id="@item.Id">
                            Delete
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>